---
import AppLayout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
import Header from "../../components/Header.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const title = "David Cojocaru - Blog";
const description =
  "My personal collection of code snippets, starter guides, tutorials and interesting things I found online. I hope you find something useful here.";
---

<AppLayout title={title} description={description}>
  <Header title="Blog" />
  <p
    class="max-w-prose mb-10 font-normal dark:text-neutral-400 text-neutral-600 leading-relaxed"
  >
    {description}
  </p>
  <ul class="space-y-8">
    {
      posts.map((post) => (
        <BlogCard
          title={post.data.title}
          pubDate={post.data.pubDate}
          description={post.data.description}
          url={`/blog/${post.id}/`}
          tags={post.data.tags}
          content={post?.body ?? null}
        />
      ))
    }
  </ul>
</AppLayout>
