---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  url: string;
  tags: string[];
}

const { title, description, pubDate, url, tags } = Astro.props;

const fullDate = pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<li
  class="dark:text-neutral-400 text-neutral-500 gap-1 p-6 border dark:border-neutral-700/60 rounded-lg flex flex-col bg-neutral-50/40 dark:bg-neutral-800/40"
>
  <a class="flex flex-col gap-2" href={url}>
    <div class="flex justify-between">
      <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
        <h1
          class="text-lg font-medium dark:text-white text-neutral-700 [word-break:break-word]"
        >
          {title}
        </h1>
      </div>
      <time
        datetime={pubDate.toISOString()}
        class="block text-sm tracking-wide dark:text-neutral-400 text-neutral-600"
        >{fullDate}
      </time>
    </div>
    <p class="text-sm dark:text-neutral-400 text-neutral-600 mt-2">
      {description}
    </p>
    <div class="flex flex-wrap gap-2 mt-2 text-neutral-600 text-center">
      <p
        class="text-sm dark:text-neutral-400 text-neutral-600 text-center mt-1"
      >
        Tags:
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          tags.map((tag) => (
            <li class="dark:bg-neutral-700 bg-neutral-100 text-neutral-600 dark:text-neutral-300 rounded-md px-2 py-1 text-sm">
              {tag}
            </li>
          ))
        }
      </ul>
    </div>
  </a>
</li>
