---
interface Props {
  title: string;
  description: string;
  pubDate: Date;
  url: string;
  tags: string[];
}

const { title, description, pubDate, url, tags } = Astro.props;

const fullDate = pubDate.toLocaleDateString("en", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

---

<li
  class="dark:text-zinc-400 text-zinc-500 gap-1 p-6 border dark:border-zinc-700/60 rounded-lg flex flex-col bg-opacity-40 dark:bg-opacity-40 bg-zinc-50 dark:bg-zinc-800"
>
  <a class="flex flex-col gap-2" href={url}>
    <div class="flex justify-between">
      <div class="flex flex-col sm:flex-row sm:items-baseline gap-2">
        <h1
          class="text-lg font-medium dark:text-white text-zinc-700 [word-break:break-word]"
        >
          {title}
        </h1>
      </div>
      <time
        datetime={pubDate.toISOString()}
      class="block text-sm tracking-wide dark:text-zinc-400 text-zinc-600"
      >{fullDate}
    </time>

    </div>
    <p class="text-sm dark:text-zinc-400 text-zinc-600 mt-2">
      {description}
    </p>
    <div class="flex flex-wrap gap-2 mt-2 text-zinc-600 text-center">
      <p class="text-sm dark:text-zinc-400 text-zinc-600 text-center mt-1">
        Tags:
      </p>
      <ul class="flex flex-wrap gap-2">
        {tags.map((tag) => (
          <li class="dark:bg-zinc-700 bg-zinc-100 text-zinc-600 dark:text-zinc-300 rounded-md px-2 py-1 text-sm">
            {tag}
          </li>
        ))}
      </ul>
    </div>
  </a>
</li>

